// @include nome-do-elemento(parametro)

@mixin flex($align, $justify){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin titulo($tamanho, $cor, $weigth){
    font-size: $tamanho;
    color: $cor;
    font-weight: $weigth;
    // margin: 0;
}

@mixin imagem($url){
    background-image: $url;
}